<?xml version="1.0" encoding="utf-8"?><!--
Compile By Tandong  2016.3.24 
 * www.whatjay.com
 * 
 * 谭东基于FBReader官方github最新版原始编译，可以放心使用。
 *这里的so库是用ADT编译导入的，如果你需要修改包名，则需要重新编译so库，替换这里的so库即可。
 * QQ 852041173
 * Android开发者QQ群 271410559
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.geometerplus.zlibrary.ui.android"
    android:versionCode="2051010"
    android:versionName="2.5.10">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="org.geometerplus.android.fbreader.FBReaderApplication"
        android:icon="@drawable/fbreader"
        android:label="@string/app_name"
        android:logo="@drawable/fbreader_bw"
        tools:replace="android:icon">
        <service
            android:name="org.geometerplus.android.fbreader.api.ApiService"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.fbreader.action.API" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <activity
            android:name="org.geometerplus.android.fbreader.PluginListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FBReader.Dialog" />
        <activity
            android:name="org.geometerplus.android.fbreader.bookmark.EditStyleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FBReader.Dialog">
            <intent-filter>
                <action android:name="android.fbreader.action.EDIT_STYLES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.geometerplus.android.fbreader.image.ImageViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":imageView"
            android:theme="@style/FBReader.Activity" />
        <activity
            android:name="org.geometerplus.android.fbreader.library.BookInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":library"
            android:theme="@style/FBReader.Activity">
            <intent-filter>
                <action android:name="android.fbreader.action.BOOK_INFO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.geometerplus.android.fbreader.TOCActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FBReader.Activity" />
        <activity
            android:name="org.geometerplus.android.fbreader.preferences.PreferenceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":preferences"
            android:theme="@style/FBReader.Activity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="fbreader-preferences" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.fbreader.action.PREFERENCES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service
            android:name="org.geometerplus.android.fbreader.httpd.DataService"
            android:exported="false"
            android:launchMode="singleTask"
            android:process=":dataService" />
        <activity
            android:name="org.geometerplus.android.fbreader.preferences.background.PredefinedImages"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:exported="false"
            android:theme="@style/FBReader.Dialog" />
    </application>

</manifest>